.content-home {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 600px) {
        flex-direction: row;
    };
}

.items-home {
    @media screen and (min-width: 600px) {
        flex: 1;
    };
}



